.game {
	display: inline-block;
	padding: $block-padding;
	width: 100%;

	.content {
		max-width: $max-width;
		padding: $global-padding;
		margin: 0 auto;

		h2 {
			color: $darkgray;
			text-align: center;
			margin-bottom: 30px;
		}

		p {
			font-size: 17px;
			line-height: 22px;
		}
	}
}
