.header {
	display: block;
	background: $darkgray;
	text-align: center;

	.content {
		margin: 0 auto;
		padding: 70px 20px;
		color: $white;
		max-width: 626px; // size of the image

		img {
			width: auto;
		}
	}
}
