// Site Colors
$white: white;
$darkgray: #312f30;
$gray: #3f3d3e;
$purple: #d27aff;

// Sizes
$max-width: 800px;
$tablet-landscape: 1024px;
$tablet: 768px;
$mobile: 500px;

// Misc
$global-padding: 20px;
$block-padding: 130px 0;
